<p id="notice"><%= notice %></p>
<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill %>
  <%# Cool article %>
<%# </div> %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<%# if @article.photo.attached? %>
  <%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
<%# else %>
  <%# You should add a picture! %>
<%# end %>


<% if @article.photos.attached? %>
  <% @article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% else %>
You should add a picture to your article!
<% end %>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', root_path %>
